<h2>Downloads Board</h2>
<!-- 
<!-- <ul>
    <% downloads.forEach(download => { %>
      <li>
        <%= download.name %> - <%= download.status %>
        <% if (download.status === 'Downloaded') { %>
            , Size : <%= download.Size %> KB
        <% } %>
      </li>
    <% }) %>
  </ul> --> -->

<!-- <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Size (in KB)</th>
      </tr>
    </thead>
    <tbody>
      <% downloads.forEach(download => { %>
        <tr>
          <td><%= download.name %></td>
          <td><%= download.status %></td>
          <% if (download.status === 'Downloaded') { %>
            <td><%= download.Size %></td>
          <% } else { %>
            <td>-</td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table> -->

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% downloads.forEach(download=> { %>
      <tr>
        <td>
          <%= download.name %>
        </td>
        <td>
          <%= download.status %>
        </td>
        <td>
          <%= download.Size %>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>